<div class="videoplayer" id="videoplayer">
  <video style="max-width: 100%;" poster="//www.svt.se/cachable_image/1424786253000/viva-hate/article2703025.svt/ALTERNATES/extralarge/vitavidder-jpg"></video>
</div>
