<div class="videoplayer" id="videoplayer">
<video style="max-width: 100%;"
		poster="//www.svt.se/cachable_image/1461857452000/kungen-70-ar-ensamt-majestat/article8122398.svt/ALTERNATES/extralarge/kungen70intervju-jpg"
		></video>
</div>
