<div id="menu">
	<img src="assets/images/placeholder-menulogo.png" class="imagelogo">

	<button class="friends-button">
		<img src="assets/images/icon-friends.png">
		<span class="friends-online">2</span>
	</button>

	<div class="user">
		<img src="assets/images/profile-image.jpg" class="profile-image">

		<span class="username">{{user.name}}</span>
	</div>
</div>
