<div id="menu">
  <img src="assets/images/icon-friends.png" class="friends">
  <div class="user">
    <img src="assets/images/profile-image.jpg" class="profile-image">
    <span class="username">{{user.name}}</span>
  </div>
</div>
