<div id="chat">
  <div class="chat-messages"></div>
  <div class="chat">
  	<div class="chat-emojis">
  		<div class="emoji">😄</div>
  		<div class="emoji">😡</div>
  		<div class="emoji">😱</div>
  		<div class="emoji">😭</div>
  		<div class="emoji">💩</div>
  		<div class="emoji">👍</div>
  		<div class="emoji">👎</div>
  		</div>
    <div class="chat-input-container">
      <input class="chat-input visible">
    </div>
    <button class="chat-button"></button>
  </div>
</div>
